@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body { 
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('https://i.gifer.com/YY7j.gif');
  background-repeat: cover;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.navbar_list {
  list-style-type: none;
  padding-left: 0px;
}

.navbar a {
  float: left;
  width: 10em;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.navbar a:hover {
  background-color: grey;
  color: #0d47a1;
}

.navbar a.active {
  background-color: #01579b;
  color: white;
}