@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 10%;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #37474f;
    border-top: 16px solid #01579b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

.file {
    margin-right: auto;
    margin-left: auto;
}

textarea {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
}