@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

h1 {
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 10%;
}

.file {
    margin-right: auto;
    margin-left: auto;
}

textarea {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
}