<!DOCTYPE html>
<html>
    <head>
        <link href="/static/ar_models.css" rel="stylesheet">
        <title>Models</title>
    </head>

    <body>
        <div id="background"></div>
        <h1>Medical Visualization</h1>
        <iframe
           src={{echo_medical}}
           title="echo3D WebAR Medical Visualization">
        </iframe>

        <div id="background"></div>
        <h1>Geographical Landmarks</h1>
        <iframe
           src={{echo_geo}}
           title="echo3D WebAR Geographical Visualization">
        </iframe>
    </body>
</html>