<!DOCTYPE html>
<html>
    <head>
        <link href="/static/ar_models.css" rel="stylesheet">
        <title>Models</title>

        <nav class="navbar">
            <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
                <li class="navbar_list">
                    <a href="/">Home</a>
                </li>
                <li class="navbar_list">
                    <a href="/notes">Notes</a>
                </li>
                <li class="navbar_list">
                    <a class="active" href="/models">3D Models</a>
                </li class="navbar_list">
            </ul>
        </nav>
    </head>

    <body>
        <div id="background"></div>
        <h1>Medical Visualization</h1>
        <div class="ar_container">
        {% for i in range(0,ent_len) %}
            <figure style="width: 100%;">
                <img src={{echo_med_img[i]}}>
                <figcaption style="font-size: 28pt; font-family: 'Yanone Kaffeesatz', sans-serif; color: white;">
                    <a target="_blank" rel="noopener noreferrer" href="{{echo_medical}}&entry={{med_entry[i]}}" 
                    style="color: white;">
                        {{med_name[i]}}
                    </a>
                </figcaption>
            </figure>
        {% endfor %}
        </div>

        <div id="background"></div>
        <h1>Geographical Landmarks</h1>
        <div class="ar_container">
        {% for j in range(0,ent_len) %}
            <figure style="width: 80%;">
                <img src={{echo_geo_img[j]}}>
                <figcaption style="font-size: 28pt; font-family: 'Yanone Kaffeesatz', sans-serif;">
                    <a target="_blank" rel="noopener noreferrer" href="{{echo_geo}}&entry={{geo_entry[j]}}" 
                    style="color: white;">
                      {{geo_name[j]}}
                    </a>
                </figcaption>
            </figure>
        {% endfor %}
        </div>
    </body>
</html>