<!DOCTYPE html>
<html>
    <head>
        <link href="/static/index.css" rel="stylesheet">
        <title>Study AI</title>
    </head>

    <body>
        <nav class="navbar">
            <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
                <li class="navbar_list">
                    <a class="active" href="/">Home</a>
                </li>
                <li class="navbar_list">
                    <a href="/notes">Notes</a>
                </li>
                <li class="navbar_list">
                    <a href="/models">3D Models</a>
                </li class="navbar_list">
            </ul>
        </nav>
    </body>
</html>