<!DOCTYPE html>
<html>
    <head>
        <title>Notes</title>
        <link href="/static/notes.css" rel="stylesheet">
    </head>

    <body>
        <h1>Audio File Upload</h1>
        <form method="POST" enctype=multipart/form-data>
            <input class="file" type="file" name="file"><br><br>
            <input type="submit" name="audio_submit" value="Submit">
        </form>
        
        <h1>Notes</h1>
        <textarea rows="50" cols="120">
            {% if msg %}
                {% for m in msg %}
                    {{m}}
                {% endfor %}
            {% endif %}
        </textarea>
    </body>
</html>